* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: uppercase;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
}

h1{
    font-size: 3rem;
    letter-spacing: 0.313rem;
    font-weight: 800;
}

button
{
    width: 12rem;
    height: 2rem;
    border: none;
    background-color: #5d5d65;
    border-radius: .3rem;
    font-size: 1.05rem;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: black;

}